<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'flatpages/default.html' %}</title>
</head>

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<body>
<h1>Все новости ({{ category_news_list.count}})</h1>
<h3>{% current_time '%d %b %Y' %}</h3>
<h3> {{ next_sale|default_if_none:"Вы будете получать новости регулярно!" }}</h3>
<hr>
{% if category_news_list %}
<tr>
    <table>
        <thead>
        <tr>
            <td>категория</td>
            <th>дата публикации</th>
            <th>заголовок</th>
            <th>текст</th>
        </tr>
        {% for post in category_news_list %}
        <tr>
        <td>
             {% for category in post.post_category.all %}
                <a href="{% url 'category_list' category.id %}">{{ post.post_category }}</a>
            {% endfor %}

        <td>
             {{ post.post_date|date:'d M Y'}}


        <td>
            <a href="{% url 'post_detail' post.id %}">{{ post.post_title|censor}}</a>
        </td>
        </td>

        <td>{{ post.post_text|censor|truncatechars:20}}</td>
        </tr>
        {% endfor %}
        </thead>
    </table>
{% if is_not_subscriber %}
    <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">подписаться</a></p>
{% else %}
    <p class="text-center"><a href="{% url 'unsubscribe' category.id %}" class="btn btn-secondary btn-sm">отписка</a></p>
    {% endif %}
{% if is_not_author %}
<button> <a href="{% url 'upgrade' %}"> стать автором!</a> </button>
{% else %}
<h1>вы уже автор</h1>
{% endif %}
</tr>
{% else %}
    <h2>новостей нет!</h2>
{% endif %}
{% endblock content %}
</body>
</html>